.tut_navbar
{
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

.tut_navbar > h3
{
    height: 40px;
    line-height: 35px;
    color: #666666;
    text-indent: 10px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    border-bottom: 1px solid #a1a1a1;
}

.tut_navbar ul.menu_vert
{
    margin: 0px;
    padding:0px;
    list-style-type: none;
    margin: 10px 10px 10px 10px;
}


.tut_navbar ul.menu_vert li 
{
    height: auto;
    font-size: 13px;
    line-height: 27px;
    margin: 5px 0 0px 0;
    overflow: hidden;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px dotted #c7c7c7;
    display: block;
    width: auto;
    background: #FBFDFF;
}
.tut_navbar ul.menu_vert ul.submenu li.parent a,
.tut_navbar ul.menu_vert li.parent a
{
    background: #c7c7c7;
}



.tut_navbar ul.menu_vert li ul.submenu li a,
.tut_navbar ul.menu_vert li a 
{
    height: 24px;
    border-bottom: 1px dotted #e1e1e1;
    border-top: 1px dotted #e1e1e1;
    font-size: 12px;
    line-height: 23px;
    text-indent: 10px;
    float: left;
    text-decoration: none;
    width: 100%;
    background: #ffffff;
}

.tut_navbar ul.menu_vert li a.active
{
    background: #c7c7c7!important;
}

.tut_navbar ul.menu_vert li a:hover
{
    background: #e1e1e1!important;
    text-decoration: underline;
    color: #333333;
}



ul.submenu
{
    clear: both;
    margin: 5px 0 5px 0px;
    float: left;
    width: 100%;
}

ul.submenu li
{
    margin: 0 5px 5px 15px!important;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
}


